html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
